@import "../../vars.scss";
header{
    background-color: #4892a2;
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
    width: 100%;
    color: white;
    margin-bottom: 50px;
}