<ol>
        {{#each chest-1}}
        <li>
            <div class="set">

            <div id="content" class="pushups item">
            
                <p>{{exercise}} {{reps}} reps</p>
            
            </div>

            <a class="setSubmit" href="">✓</a>
            </div>
        </li>

        <li>
            <div class="set">

            <div id="content" class="item">
            
                <p>cooldown!! 2:30 remaining</p>
            
            </div>

            <a class="setSubmit" href="">✓</a>
            </div>
        </li>
        {{/each}}
    </ol>