<!DOCTYPE html>

<html>

<head>
    
    <title>{{title}}</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{!-- <link rel="stylesheet" href="css/index.css" type="text/css"> --}}
    <link rel="stylesheet" href="CSS/style.css" type="text/css">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="../../workout.js"></script> 
    
    
    
    
</head>

<body class="">
    {{>header}}
    <div class="container ">
<h1>Your workout for today:</h1>
<div id="queue" class="queue">


    
        {{!-- <div class="set">

            <div id="content" class="pushups item">
            
                <p>{{exercise}} and {{reps}} reps</p>
            
            </div>

            <a class="setSubmit" href="">✓</a>
        </div> --}}

    

    
</ul>

    </div>
</div>


          
</body>

</html>