<div class="passwordCriteria" id="passwordCri">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    <p id="specChar" class="invalid">Atleast <b>1 Special Character</b></p>
    <p id="numerals" class="invalid">Atleast <b>2 Roman Numerals</b></p>
    <p id="hexCode" class="invalid">Your favourite <b>hex code</b></p>
    <p id="brazilCode" class="invalid">A <b>brazilian state abbreviation (CAPS)</b></p>
</div>