<div class="form-group" id="form-5">
    <label for="phonenumber">Phone Number:</label>
    <div class="phone-number"></div>
    <select id="phone" name="phone number" disabled>
        <option value="+44">+44</option>
    </select>
    <span id="demo"></span>
    <div class="slidecontainer">
        <input type="range" min="1" max="9999999999" value="1" class="slider" id="myRange" onchange="phoneValidation(this.id)">
        <a class="auth" id="auth-5">â—</a>
    </div>

</div>