.queue{
    margin: 15px 0;
    display: block;
}

.setGrouping{
    display: inline-block;
}
.set{
    background: #303030;
    border: 2px solid #4892a2;
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;

}
.setSubmit{
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    background: #4892a2;
    padding: 5px 10px;
}

.item{
    display: inline-block;
    

}
